<%- include('../header'); -%>
<div class="container">
  <div class="col-md-8">
    <h1> <%= currentUser.displayName %> Todo List</h1>
    <ul>
      <% for (let i = 0; i < todos.length; i++) { %>
        <% if (!todos[i].done) { %>
        <li>
          <%= todos[i].task %>
          <form method="POST" action="/todo/<%= todos[i].id %>/done">
            <button type="submit" class="btn btn-primary">Làm xong</button>
          </form>
        </li>
        <% } else { %>
        <li><s><%= todos[i].task %></s></li>
        <% } %>
      <% } %>
    </ul>
    <form action="/todo" method="POST">
      <div class="form-group">
        <label for="task">Tên công việc</label>
        <input type="text" class="form-control" id="task" name="task" placeholder="Tên công việc">
      </div>
      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
  </div>  
</div>
<%- include('../footer'); -%>
